@import "tailwindcss";
*{-webkit-tap-highlight-color:transparent}
body{overscroll-behavior:none;-webkit-font-smoothing:antialiased}
::-webkit-scrollbar{width:4px;height:4px}
::-webkit-scrollbar-track{background:transparent}
::-webkit-scrollbar-thumb{background:#44403c;border-radius:2px}
